.tooltip {
  position: relative;
  height: 60px;
  width: 250px;
  background-color: #f3395a;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  margin: 0 auto;
}

.tooltip::before {
  position: absolute;
  z-index: 2;
  display: none;
  width: 200px;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.4em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  content: attr(title);
}

.tooltip::after {
  content: '';
  position: absolute;
  z-index: 1;
  display: none;
  height: 0;
  width: 0;
  border: 5px solid transparent;
}

.top::before {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.top::after {
  border-top-color: rgba(0, 0, 0, 0.8);
  border-bottom-width: 0px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.right::before {
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.right::after {
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left-width: 0px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.left::before {
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.left::after {
  border-left-color: rgba(0, 0, 0, 0.8);
  border-right-width: 0px;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.bottom::before {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.bottom::after {
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-top-width: 0px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.top:hover::after,
.top:hover::before,
.right:hover::after,
.right:hover::before,
.left:hover::after,
.left:hover::before,
.bottom:hover::after,
.bottom:hover::before {
  display: inline-block;
}
