html,
body {
  height: 100%;
  margin: 0;
}

.page-content {
  min-height: 100%;
}
footer {
  height: 500px;
  width: 100%;
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background-color: #c2c6c7 !important;
}
